:root {
    --bg-pagina: #5B8FB9;
    --cor-letras: white;
    --bg-outros: #2C74B3;
    --fonte: 'Times New Roman', Times, serif;
    --cor-letras-hover: black;
    --bg-botao: #2C74B3;
    --cor-botao: white;
    --barra-de-rolagem: #f4f4f4;
}

body {
    background-color: var(--bg-pagina);
    color: var(--cor-letras);
    font-family: var(--fonte);
}

body::-webkit-scrollbar-track {
    background-color: var(--barra-de-rolagem);
}

/* Cabeçalho */

.cabecalho {
    margin: 0;
}

.cabecalho_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho_imagem{
    width: 8em;
    margin-left: 3em;
}

.cabecalho_menu_links{
    margin-right: 15em;
}

.cabecalho_link{
    margin: 1em;
    font-size: 28px;
    text-decoration: none;
    color: var(--cor-letras);
    font-weight: 600;
}

.cabecalho_link:hover{
    color: var(--cor-letras-hover);
}

/* Sobre mim */

.sobre{
    display: flex;
    margin: 10em;
}

.secao_sobre {
    margin-top: 5em;
}

.titulo_sobre{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 1em;
}

.texto_sobre{
    margin-right: 2em;
    font-size: 20px;
}

.imagem_sobre{
    width: 20em;
}

/* Rodape */

.rodape {
    background-image: linear-gradient(to bottom, var(--bg-pagina), var(--bg-outros));
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.imagem_rodape{
    height: 10em;
}

.rodape_contatos, .rodape_projetos{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
}

.titulo_rodape{
    margin-bottom: 1em;
    font-size: 18px;
    font-weight: 600;
}

.btn_rodape{
    margin: 0.5em 0;
    font-size: 18px;
    text-decoration: none;
    color: var(--cor-letras);
}

.btn_rodape:hover{
    color: var(--cor-letras-hover);
}